<footer>
    <ul class="nav">
        <li><a href="impressum">Impressum</a></li>
        <li><a href="terms-and-conditions">Terms and Conditions</a></li>
        <li><a href="policy">Policy</a></li>
        <li><a href="contact">Contact</a></li>
    </ul>
</footer>
