<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <%- include('./partials/layout.ejs') %>
        <link rel="stylesheet" href="/styles/dashboard.css">
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="/js/handle-session-check.js" defer></script>

<body>

    <%- include('./partials/header.ejs', { userId: userId }) %>

        <main class="main">
            <div class="dashboard-container">
                <h1>Dashboard</h1>
                
            </div>

        </main>
        

        <%- include('./partials/footer.ejs') %>

</body>

</html>
