<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Impressum</title>
    <%- include('./partials/layout.ejs') %>
    <link rel="stylesheet" href="/styles/legal.css">
</head>

<body>
    <h1>Impressum</h1>
    <p><strong>Angaben gemäß § 5 TMG:</strong></p>
    <p>Finance Tracker</p>
    <p>Mateyw</p>
    <p>Finanzstraße, 90999, Finanzstadt, Finanzland</p>
    <p>Telefon: +49 123 456789</p>
    <p>E-Mail: mateyw.finanz@gmail.com</p>
    <p>Umsatzsteuer-ID: DE123456789</p>
    <p>Handelsregister: HRB 987654, Amtsgericht Finanzstadt</p>

</body>

</html>