<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Policy</title>
    <%- include('./partials/layout.ejs') %>
    <link rel="stylesheet" href="/styles/legal.css">
</head>

<body>
    <h1>Datenschutzerklärung</h1>
    <h2>1. Verantwortlicher</h2>
    <p>Finance Tracker, vertreten durch Mateyw</p>
    <p>Finanzstraße, 90999, Finanzstadt, Finanzland</p>
    <p>E-Mail: mateyw.finanz@gmail.com</p>

    <h2>2. Gespeicherte Daten</h2>
    <p>Folgende personenbezogene Daten werden gespeichert:</p>
    <ul>
        <li>Vorname, Nachname</li>
        <li>E-Mail-Adresse</li>
        <li>Account-Erstellungsdatum</li>
    </ul>

    <h2>3. Verwendung von Cookies</h2>
    <p>Wir speichern User-Sessions für die Anmeldung und Nutzung der Software.</p>

    <h2>4. Weitergabe von Daten</h2>
    <p>Es erfolgt keine Weitergabe von Nutzerdaten an Dritte.</p>

    <h2>5. Speicherung und Löschung</h2>
    <p>Die Daten werden auf unserem Server in Deutschland gespeichert. Auf Anfrage werden Nutzerdaten aus unserer
        Datenbank gelöscht.</p>

    <h2>6. Kontakt für Datenschutzanfragen</h2>
    <p>Für Datenschutzanfragen kontaktieren Sie uns unter:</p>
    <p>E-Mail: mateyw.finanz@gmail.com</p>
    <p>Adresse: Finanzstraße, 90999, Finanzstadt, Finanzland</p>

</body>

</html>