<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms and Conditions</title>
    <%- include('./partials/layout.ejs') %>
        <link rel="stylesheet" href="/styles/legal.css">
</head>

<body>
    <h1>Allgemeine Geschäftsbedingungen (AGB)</h1>
    <h2>1. Geltungsbereich</h2>
    <p>Diese Allgemeinen Geschäftsbedingungen (AGB) gelten für alle Verträge zwischen Finance Tracker und seinen Kunden.
    </p>

    <h2>2. Leistungsbeschreibung</h2>
    <p>Finance Tracker bietet eine digitale Finanzverwaltungssoftware im Abonnement-Modell an.</p>

    <h2>3. Zahlungsbedingungen</h2>
    <p>Die Zahlung erfolgt über PayPal, Kreditkarte oder Rechnung. Der monatliche Abonnementpreis beträgt 2,99€.</p>

    <h2>4. Widerrufsrecht</h2>
    <p>Kunden haben das Recht, ihren Kauf innerhalb von 14 Tagen zu widerrufen.</p>

    <h2>5. Nutzungseinschränkungen</h2>
    <ul>
        <li>Die Software darf nicht für illegale Aktivitäten genutzt werden.</li>
        <li>Der Weiterverkauf oder die Weitergabe der Zugangsdaten ist untersagt.</li>
        <li>Die Nutzung ist ausschließlich für private Zwecke gestattet.</li>
    </ul>
</body>

</html>