@import 'https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap';

html {
    overflow:   hidden;
    overflow-x: hidden;
  }
  
  ::-webkit-scrollbar {
      width: 0px;
      background: transparent; /* make scrollbar transparent */
  }

body {
    width: 100vw;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

main {
    width: 90vw;
    height: 100vh;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: white;
    padding: 1%;
    margin: 0 auto;
}
